.navbar{
    background: black;
    position: fixed !important;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    justify-content: space-around;
    z-index: 100;
}


.home,.about, .education, .projects, .skills,.contact{
    text-decoration: none !important;
    font-size: 20px;
    color: beige;
    
    
    
}
.home:hover,.education:hover,.projects:hover,.skills:hover,.contact:hover{
    color: var(--primary-color);
    
}