:root{
    --primary-color : rgb(246, 181, 19);
    --secondary-color : rgb(0, 0, 0);
}

*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#about{
    background-color: var(--secondary-color);
    margin: 30px 30px;
 
    
    padding: 70px 30px 20px 30px;
}


#div-o{
    display: flex;
    flex: auto;
    padding: 20px 80px 20px 80px;
    /* border: 2px black solid;
    border-radius: 5px; */
    background-color: var(--secondary-color);
}

#image-box{
    justify-content: center;
}

#photo{
    border-radius: 90px;
    width: 180px;
}

#div-i{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.about #heading{
    /* background-color: var(--primary-color); */
    width: fit-content;
    /* margin: 30px; */
    margin-left: 30px;
}

#head-text{
    font-weight: bold;
    font-size: xx-large;
    color: var(--primary-color);
}

#about-section{
    padding: 0px 30px 0px 30px;
}

#text-about{
    font-size: large;
    color: white;
}

@media screen and (max-width: 700px) {
    #div-o{
        flex-direction: column;
        justify-content:center;
        text-align: center;
        margin: auto;
    }

    #heading{
        text-align: center;
        justify-content: center;
        margin: auto;
    }

    #about-section{
        text-align: center;
        justify-content: center;
        margin: auto;   
    }
}